maxsecsold=300
savegamedirectory=/path/to/your/save/directory
sender=email@example.com
receiversfile=/path/to/line/separated/email/addresses
turnfilereceiversfile=/path/to/filebasenames/and/respective/receivers
host=smtp-host-name.example.com
smtptls=True
port=25
user=smtp-user-name
pass=smtp-password
message=Your Message Contents, Avoid equality signs
subject=Message subject, again remember you are in a property file
repeat=True
